# Default stack size
DEFAULT_STACK_SIZE=4096

# Mimalloc (drop-in replacement for malloc)
MIMALLOC=../mimalloc-2.1.2/release/out/libmimalloc.so

# WASI SDK C/C++ compiler
WASICC?=../wasi-sdk-22.0/bin/clang
WASICC_FLAGS=--std=c17 -O3 -Wall -Wextra -Werror -DDEFAULT_STACK_SIZE=$(DEFAULT_STACK_SIZE)

# Wabt
WABTFX_FLAGS=--enable-multimemory --enable-exception-handling --enable-reference-types --enable-multivalue --enable-bulk-memory --enable-gc --enable-typed-continuations

## Wasm optimiser
WASM_OPT?=../binaryenfx/bin/wasm-opt
WASM_OPT_FLAGS=-O2
WASMFX_OPT=$(WASM_OPT) $(WASM_OPT_FLAGS) $(WABTFX_FLAGS)


# Binaryen IR text format assembler
WASM_AS?=../binaryenfx/bin/wasm-as
WASMFX_AS=$(WASM_AS) $(WABTFX_FLAGS)

# Binaryen IR text format disassembler
WASM_DIS?=../binaryenfx/bin/wasm-dis
WASMFX_DIS=$(WASM_DIS) $(WABTFX_FLAGS)

## Asyncify compiler from WABT
ASYNCIFY=$(WASM_OPT) $(WASM_OPT_FLAGS) --asyncify --pass-arg=asyncify-ignore-imports

## Wasm module merger
WASM_MERGE?=../binaryenfx/bin/wasm-merge
WASMFX_MERGE=$(WASM_MERGE) $(WABTFX_FLAGS)

# Wasmtime engine
WASMTIME=../wasmtime/target/release/wasmtime
WASMTIMEC=$(WASMTIME) compile
WASMTIMEC_RUN=LD_PRELOAD=$(MIMALLOC) $(WASMTIME) --allow-precompiled -Wwasmfx-stack-size=$(DEFAULT_STACK_SIZE) -Wwasmfx-red-zone-size=0

# wasm tools
WASMTOOLS=../wasm-tools/target/debug/wasm-tools

# WasmFX enabled Wasmtime engine
WASMTIMEFX_FLAGS=-W=exceptions,function-references,typed-continuations
WASMFXTIMEC=$(WASMTIMEC) $(WASMTIMEFX_FLAGS)
WASMFXTIMEC_RUN=$(WASMTIMEC_RUN) $(WASMTIMEFX_FLAGS)

# WasmFX reference interpreter
WASM_INTERP?=../spec/interpreter/wasm

# Hyperfine measurement tool
HYPERFINE=hyperfine --warmup 3
