# Mimalloc (drop-in replacement for malloc)
MIMALLOC=../mimalloc-2.1.2/release/out/libmimalloc.so

# WASI SDK C/C++ compiler
WASICC=../wasi-sdk-20.0/bin/clang
WASICC_FLAGS=-O3

# Asyncify compiler from WABT
WASM_OPT=../binaryen-version_116/bin/wasm-opt
ASYNCIFY=$(WASM_OPT) -O2 --asyncify --pass-arg=asyncify-ignore-imports

# Wasmtime engine
WASMTIME=../wasmtime/target/release/wasmtime
WASMTIMEC=$(WASMTIME) compile
WASMTIMEC_RUN=LD_PRELOAD=$(MIMALLOC) $(WASMTIME) --allow-precompiled

# WasmFX enabled Wasmtime engine
WASMTIMEFX_FLAGS=-W=exceptions,function-references,typed-continuations
WASMFXTIMEC=$(WASMTIMEC) $(WASMTIMEFX_FLAGS)
WASMFXTIMEC_RUN=LD_PRELOAD=$(MIMALLOC) $(WASMTIMEC_RUN) $(WASMTIMEFX_FLAGS)

# WasmFX reference interpreter
WASM_INTERP=../spec/interpreter/wasm

# Hyperfine measurement tool
HYPERFINE=hyperfine --warmup 3