# Mimalloc (drop-in replacement for malloc)
MIMALLOC=../mimalloc-2.1.2/release/out/libmimalloc.so

# WASI SDK C/C++ compiler
WASICC=../wasi-sdk-20.0/bin/clang
WASICC_FLAGS=-O3

# Asyncify compiler from WABT
#WASM_OPT=../binaryen-version_116/bin/wasm-opt
WASM_OPT=../binaryenfx/bin/wasm-opt
WASM_OPT_FLAGS=-O2
WASMFX_OPT=$(WASM_OPT) $(WASM_OPT_FLAGS) --enable-exception-handling --enable-reference-types --enable-multivalue --enable-gc --enable-typed-continuations
ASYNCIFY=$(WASM_OPT) $(WASM_OPT_FLAGS) --asyncify --pass-arg=asyncify-ignore-imports

# Wasm module merger
WASM_MERGE=../binaryenfx/bin/wasm-merge
WASMFX_MERGE=$(WASM_MERGE) --enable-exception-handling --enable-reference-types --enable-multivalue --enable-gc --enable-typed-continuations

# Wasmtime engine
WASMTIME=../wasmtime/target/release/wasmtime
WASMTIMEC=$(WASMTIME) compile
WASMTIMEC_RUN=LD_PRELOAD=$(MIMALLOC) $(WASMTIME) --allow-precompiled

# WasmFX enabled Wasmtime engine
WASMTIMEFX_FLAGS=-W=exceptions,function-references,typed-continuations
WASMFXTIMEC=$(WASMTIMEC) $(WASMTIMEFX_FLAGS)
WASMFXTIMEC_RUN=$(WASMTIMEC_RUN) $(WASMTIMEFX_FLAGS)

# WasmFX reference interpreter
WASM_INTERP=../spec/interpreter/wasm

# Hyperfine measurement tool
HYPERFINE=hyperfine --warmup 3