# A generic set of make rules.
CONFIG=../make.config
include ${CONFIG}

.PHONY: all
all: $(BENCHMARK)_bespoke.cwasm $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_wasmfx.cwasm

$(BENCHMARK)_bespoke.wasm: $(BENCHMARK)_bespoke.c
	$(WASICC) $(WASICC_FLAGS) -o $(BENCHMARK)_bespoke.wasm $(BENCHMARK)_bespoke.c

$(BENCHMARK)_bespoke.cwasm: $(BENCHMARK)_bespoke.wasm
	$(WASMTIMEC) -o $(BENCHMARK)_bespoke.cwasm $(BENCHMARK)_bespoke.wasm

$(BENCHMARK)_asyncify.wasm: $(BENCHMARK).c asyncify.c
	$(WASICC) $(WASICC_FLAGS) -I ../fiber/ -o $(BENCHMARK)_asyncify.pre.wasm ../fiber/fiber_asyncify.c asyncify.c $(BENCHMARK).c
	$(ASYNCIFY) $(BENCHMARK)_asyncify.pre.wasm -o $(BENCHMARK)_asyncify.wasm

$(BENCHMARK)_asyncify.cwasm: $(BENCHMARK)_asyncify.wasm
	$(WASMTIMEC) -o $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_asyncify.wasm

## TODO(dhil): Currently $(BENCHMARK)_wasmfx.wast is assembled by hand. We
## should have a tool do the assembling.
#$(BENCHMARK)_wasmfx.wasm: $(BENCHMARK)_wasmfx.wast
#	$(WASM_INTERP) -d -i $(BENCHMARK)_wasmfx.wast -o $(BENCHMARK)_wasmfx.wasm
#	chmod +x $(BENCHMARK)_wasmfx.wasm
$(BENCHMARK)_wasmfx.wasm: $(BENCHMARK).c wasmfx_import.wast
	$(WASICC) $(WASICC_FLAGS) -I ../fiber/ -o $(BENCHMARK)_wasmfx.pre.wasm $(BENCHMARK).c
	$(WASM_INTERP) -d -i wasmfx_import.wast -o wasmfx_import.wasm
	$(WASMFX_MERGE) wasmfx_import.wasm env $(BENCHMARK)_wasmfx.pre.wasm $(BENCHMARK) -o $(BENCHMARK)_wasmfx.wasm

$(BENCHMARK)_wasmfx.cwasm: $(BENCHMARK)_wasmfx.wasm
	$(WASMFXTIMEC) -o $(BENCHMARK)_wasmfx.cwasm $(BENCHMARK)_wasmfx.wasm

.PHONY: bench
bench: $(BENCHMARK)_bespoke.cwasm $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_wasmfx.cwasm
	$(HYPERFINE) "$(WASMTIMEC_RUN) $(BENCHMARK)_bespoke.cwasm" "$(WASMTIMEC_RUN) $(BENCHMARK)_asyncify.cwasm" "$(WASMFXTIMEC_RUN) $(BENCHMARK)_wasmfx.cwasm"

.PHONY: benchfx
benchfx: $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_wasmfx.cwasm
	$(HYPERFINE) "$(WASMTIMEC_RUN) $(BENCHMARK)_asyncify.cwasm" "$(WASMFXTIMEC_RUN) $(BENCHMARK)_wasmfx.cwasm"

.PHONY: bench-mem
bench-mem: $(BENCHMARK)_bespoke.cwasm $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_wasmfx.cwasm
	/usr/bin/time -f ' bespoke: %M' $(WASMTIMEC_RUN) $(BENCHMARK)_bespoke.cwasm
	/usr/bin/time -f 'asyncify: %M' $(WASMTIMEC_RUN) $(BENCHMARK)_asyncify.cwasm
	/usr/bin/time -f '  wasmfx: %M' $(WASMFXTIMEC_RUN) $(BENCHMARK)_wasmfx.cwasm

.PHONY: benchfx-mem
benchfx-mem: $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_wasmfx.cwasm
	/usr/bin/time -f 'asyncify: %M' $(WASMTIMEC_RUN) $(BENCHMARK)_asyncify.cwasm
	/usr/bin/time -f '  wasmfx: %M' $(WASMFXTIMEC_RUN) $(BENCHMARK)_wasmfx.cwasm

.PHONY: grant-perf-privileges
grant-perf-privileges:
	sudo sysctl -w kernel.perf_event_paranoid=1

.PHONY: revoke-perf-privileges
revoke-perf-privileges:
	sudo sysctl -w kernel.perf_event_paranoid=0

.PHONY: perf-wasmfx
perf-wasmfx: $(BENCHMARK)_wasmfx.cwasm
	sudo perf record -k mono $(WASMFXTIMEC_RUN) --profile=perfmap $(BENCHMARK)_wasmfx.cwasm

.PHONY: clean
clean:
	rm -f wasmfx_import.wasm
	rm -f $(BENCHMARK)_asyncify.pre.wasm $(BENCHMARK)_asyncify.wasm $(BENCHMARK)_bespoke.wasm $(BENCHMARK)_wasmfx.wasm
	rm -f $(BENCHMARK)_asyncify.cwasm $(BENCHMARK)_bespoke.cwasm $(BENCHMARK)_wasmfx.cwasm
